.BC-Main{
    background-color: rgb(238, 238, 238);
}
hr{
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:rgb(238, 238, 238);
    height: 1px;
}